{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="form-group-lg">
                {% if form %}
                    <div class="row">
                        <h2>Demo Site</h2>
                        <p>
                            Test Dog breed Classification
                        </p>
                    </div>
                    {{ wtf.quick_form(form) }}
                {% endif %}
     </div>

    {% if file_url %}
    <div class="row">
        <h2>Prediction Result</h2>
        <p>
            Please refer to the predictions below for the image you have uploaded
        </p>

        <div class="col-md-4">
                <img src="{{file_url}}" class="img-fluid img-thumbnail">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2> Predicted Dog Breed </h2>
            <ul>
                <li>{{breed}} with a probability of {{pred_score}} %</li>
            </ul>
        </div>
    </div>
    <a class="btn btn-primary" href="{{ url_for('home') }}" role="button">Go Back</a>
    {% endif %}
{% endblock %}
